@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --primary-bg-color: #301B46;
    --secondary-bg-color: #9855DE;
    --primary-text-color: #D6DF22;
    --secondary-text-color: #f9ecff;
    --link-color: #dbadf0;
}

a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: var(--primary-bg-color);
    color: var(--secondary-text-color);
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
}

.banner {
    margin-top: 20px;
    width: auto;
    height: 600px;
    text-align: center;
}
.banner img {
    width: auto;
    height: 100%;
    padding-bottom: 40px;
}

.title {
    text-align: center;
    font: 3em 'Satisfy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-text-color);
}

section.about {
    width: 60%;
    margin: 0 auto;
}

footer {
    text-align: center;
    color: #aaa;
    margin: 20px 10px;
}

@media screen and (max-width: 1100px) {
    .banner {
        width: 100%;
        height: auto;
    }
    .banner img {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .title {
        font-size: 2em;
    }

    section.about {
        width: 80%;
    }
}
